<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570472137763-207drij2vqa61qjkj55urhd55vu169k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570472137763-207drij2vqa61qjkj55urhd55vu169k5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570472137763-fbdfkpmm8f5aunp6bdlivq7rmdbqrvti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtyveQV5seE1kTEv8Xg_ujwcvsm8qtrrc</string>
	<key>GCM_SENDER_ID</key>
	<string>570472137763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdotlabs.seegle</string>
	<key>PROJECT_ID</key>
	<string>seegle-e1eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>seegle-e1eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570472137763:ios:024f976f8f40ef0bb89d96</string>
</dict>
</plist>